/* General */
.flashes h4 {
    line-height: 2;
}

/* Navbar */
nav .brand-logo {
    padding-left: 60px;
    font-family: pacifico;
}

nav ul li:hover {
    background-color: rgb(51, 175, 78);
 }

#headline {
    font-family: pacifico;
}

/* Switch in Add Recipe form */
.switch label input[type=checkbox]:checked+.lever {
    background-color: #030303;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #19b43b;
 }


