.text-shadow {
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.589);
}

.flashes h4 {
    line-height: 2;
}

nav ul li:hover {
    background-color: rgb(51, 175, 78);
 }

nav .brand-logo {
    font-family: pacifico;
}