/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

/* General */
body {
	font-family: Roboto;
}

h1,
h3,
h4 {
	font-family: Major Mono Display;
}

.flashes h4 {
	line-height: 2;
}

/* Back to top btn */
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: rgb(247, 113, 4);
	color: white;
	cursor: pointer;
	padding: 20px;
	border-radius: 50px;
	font-size: 18px;
}

#myBtn:hover {
	background-color: rgb(157, 247, 179);
}

/* Navbar */
nav .brand-logo {
	padding-left: 30px;
	font-family: Major Mono Display;
	font-size: 21px;
}

nav ul li:hover {
	background-color: rgb(157, 247, 179);
}

/* Footer */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.page-footer {
	padding-bottom: 20px;
}

.soc-media {
	color: #FFFFFF;
}

/* HOME PAGE*/
/* Home page img and text */
.girl {
	float: left;
}

/*.home-text {
	padding-top: 30px;
}

.register-btn {
	padding-top: 30px;
	padding-left: 100px;
}

/* RECIPE PAGE*/
/* Header search bar*/
.find-header {
	padding-top: 30px;
}

/* Search bar in Recipe page */
.search {
	padding-top: 30px;
}

.search-text {
	padding-bottom: 20px;
}

/* Recipe page text */
.recipe-header {
	padding-top: 30px;
}

.rec-text {
padding-bottom: 30px;
}

/* View recipe btn */
.btn-small {
	margin: 5px;
}

/* Recipe details */
.recipe_header {
	font-family: Roboto;
}

.category-name {
	font-size: 25px;
}

.responsive-img {
	object-fit: contain;
}

/* Recipe cards in Recipe page */
.cards {
	margin: 0px;
}

/* SHOP PAGE*/
/* Shop text */
.shop-text {
	padding-bottom: 20px;
}

.shop-card {
	height: 950px;
}

.shop-btn {
	margin-top: 5px;
}

/* ADD RECIPE PAGE*/
/* Add Recipe */
.add-header {
	padding-bottom: 15px;
}

/* Switch in Add Recipe form */
.switch label input[type=checkbox]:checked+.lever {
	background-color: #030303;
}

.switch label input[type=checkbox]:checked+.lever:after {
	background-color: rgb(157, 247, 179);
}

/* Img in form */
.card .card-image img {
	min-height: 600px;
	max-height: 600px;
	object-fit: cover;
}

.img-container {
	background-image: -webkit-image-set(url("../images/white-texture.png") 1x, url("../images/white-texture-sm.png") 2x);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0 auto 1rem auto;
	padding: 15px;
	max-width: 80%;
	font-family: var(--accent-font);
	font-size: 1.3em;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: var(--dark-box) 0px 0 10px;
	-moz-box-shadow: var(--dark-box) 0 0 10px;
	box-shadow: var(--dark-box) 0 0 10px;
}

.img-container p {
	margin: 1px;
}

.img-window {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	max-height: 15rem;
	max-width: 100%;
}

.new-img {
	display: none;
}

/* PROFILE PAGE */
/* Profile */
.profile-page {
	padding-top: 30px;
}

/* If user added recipes */
.recipe_header {
	color: #000000;
}

.addedby {
	text-align: center;
	background-color: rgb(247, 113, 4);
	color: #FFFFFF;
	font-size: 25px;
}

.recipe-btn {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}

.edit-btn {
	padding-bottom: 35px;
}

.contact-details {
	color: #000000
}

.address {
	color: #000000;
}

.water-hydrant {
	size: 300px;
	padding-left: 510px;
	padding-top: 120px;
}

/* Media queries */
/* Desktop extra large screens*/
@media screen and (max-width: 2000px) {
	.register-btn {
		padding-left: 140px;
		padding-top: 15px;
	}
	.home-text {
		padding-top: 90px;
	}
	}

/* Desktop */
@media screen and (max-width: 1300px) {
	.register-btn {
		padding-left: 100px;
		padding-top: 1px;
	}
	.home-text {
		padding-top: 15px;
	}
	}

/* Tablets Ipad*/
@media screen and (max-width: 1024px) {
	.register-btn {
		padding-left: 90px;
		padding-top: 1px;
	}
	.home-text {
		padding-top: 1px;
	}
	}

/* Tablets Ipad*/
@media screen and (max-width: 768px) {
	.register-btn {
		padding-left: 80px;
		padding-top: 5px;
	}
	.home-text {
		padding-top: 10px;
	}
	}

/* Mobile */
@media screen and (max-width: 480px) {
	.register-btn {
		padding-left: 90px;
	}
	}

	