{% extends "base.html" %}
{% block content %}
<h3 class="black-text center-align thin">add recipe</h3>
<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
        <!-- categories -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Recipe Category</label>
            </div>
        </div>
        <!-- recipe name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-seedling prefix"></i>
                <input id="recipe_name" name="recipe_name" maxlength="35"
                    type="text" class="validate" required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <!-- image -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-camera-retro prefix"></i>
                <input id="recipe_img" name="recipe_img" maxlength="5000"
                    type="url" class="validate" aria-describedby="recipe_img" pattern="https?://.+" onchange="recipeImg();">
                <label for="recipe_img">Recipe Image <em>(Copy and paste image url or use our default image by skipping this step. Min height 100 px, Max height 600 px. Larger or smaller images may appear distorted)</em></label>
            </div>
            <div class="s12 new-img img-container">
                <!-- Image preview container -->
                <img class="img-window" src="#" alt="Preview of recipe image">
            </div>
        </div>
        <!-- ingredients -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list prefix"></i>
                <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="5"
                    maxlength="3000" class="materialize-textarea validate" required></textarea>
                <label for="recipe_ingredients">Ingredients</label>
            </div>
        </div>
        <!-- directions -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list-ol prefix"></i>
                <textarea id="recipe_directions" name="recipe_directions" minlength="5"
                    maxlength="3000" class="materialize-textarea validate" required></textarea>
                <label for="recipe_directions">Directions</label>
            </div>
        </div>
        <!-- switch -->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-bread-slice"></i>
                    <label for="gluten_free">
                    <input type="checkbox" id="gluten_free" name="gluten_free">
                    <span class="lever"></span>
                    Gluten-Free
                    </label>
                </div>
            </div>
        </div>
        <!-- submit btn -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large green lighten-3 z-depth-5 text-shadow">
                Add Recipe <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}