{% extends "base.html" %}
{% block content %}
<!-- Edit recipe header -->
<h3 class="black-text center-align thin">edit recipe</h3>
<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
        <!-- Categories -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Choose Category</option>
                    {% for category in categories %}
                    {% if category.category_name == recipe.category_name %}
                        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name">Recipe Category</label>
            </div>
        </div>
        <!-- Recipe name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-seedling prefix"></i>
                <input id="recipe_name" name="recipe_name" maxlength="30"
                    value="{{ recipe.recipe_name }}" type="text" class="validate" required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <!-- Image -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-camera-retro prefix"></i>
                <input id="recipe_img" name="recipe_img" maxlength="1000"
                    value="{{ recipe.recipe_img }}" placeholder="{{ recipe.recipe_img }}"
                    type="url" class="validate" aria-describedby="recipe_img" pattern="https?://.+" onchange="recipeImg();">
                <label for="recipe_img">Recipe Image <em>(Copy and paste image url or use our default image by skipping this step Min height 100 px, Max height 600 px. Larger or smaller images may appear distorted)</em></label>
            </div>
            <div class="s12 new-img img-container">
                <!-- Image preview container -->
                <img class="img-window" src="#" alt="Preview of recipe image">
            </div>
        </div>
        <!-- Ingredients -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list prefix"></i>
                <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="5"
                    maxlength="200" class="materialize-textarea validate" required>
                    {{- recipe.recipe_ingredients -}}
                </textarea>
                <label for="recipe_ingredients">Ingredients</label>
            </div>
        </div>
        <!-- Directions -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list-ol prefix"></i>
                <textarea id="recipe_directions" name="recipe_directions" minlength="5"
                    maxlength="200" class="materialize-textarea validate" required>
                    {{- recipe.recipe_directions -}}
                </textarea>
                <label for="recipe_directions">Directions</label>
            </div>
        </div>
        <!-- Switch -->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-bread-slice"></i>
                    <label for="gluten_free">
                        {% if recipe.is_gluten_free == "on" %}
                            <input type="checkbox" id="gluten_free" name="gluten_free" checked>
                        {% else %}
                            <input type="checkbox" id="gluten_free" name="gluten_free">
                        {% endif %}
                            <span class="lever"></span>
                             Gluten-Free
                    </label>
                </div>
            </div>
        </div>
        <!-- Submit btn -->
        <div class="row">
            <div class="col s12 center-align">
                <!-- Cancel btn -->
                {% if session.user|lower == recipe.created_by_name|lower %}
                    <a href="{{ url_for('get_recipe') }}" class="btn-small red darken-4 z-depth-5 text-shadow">
                    Cancel</i></a>
                    <!-- Edit btn -->
                    <button href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" type="submit" class="btn-small green lighten-3 z-depth-5 text-shadow">
                    Save Changes</i></button>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <a href="" target="_blank" class="orange darken-1 btn-small z-depth-5 text-shadow">Back to Recipe Page</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}