{% extends "base.html" %}
{% block content %}
<!-- Home page header -->
<h1 class="black-text center-align thin">lazy vegan<br>fast food recipes</h1>
<div class="container">
    <div class="row">
        <!-- Home page img -->
        <img class="girl responsive-img col s12 m6 l6 xl6" src="static/images/girl.jpg" alt="Blond young woman eating pizza">
        <!-- Home page intro text -->
        <div class="col s12 m6 l6">
            <p class="home-text center-align">Try out our tasty vegan recipes! Vegan cooking is not about taking the meat away
                and reducing the flavour! It can be absolutely amazing. All recipes are fast and easy to follow, and worth!<br><br>
                Sharing is caring! Want to share your favourite recipe with other Lazy Vegans?
                Register/Log in to add your your best-loved recipe and help us build up the crème de la crème (vegan crème of course) of vegan cooking!
            </p>
            <!-- Register btn -->
            <div class="row">
                <div class="text-center register-btn s12 m6 l6 xl4">
                    <a href="{{ url_for('register') }}" class="orange darken-1 btn-large text-shadow">REGISTER</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Popular recipes header -->
<h3 class="black-text center-align thin">popular mouth-watering recipes</h3>
<!-- Popular recipes example 1 --> 
<div class="row">
    <div class="col s12 m12 l12 xl4">
        <div class="card hoverable popular-card">
            <div class="card-image">
                <img class="responsive-img" src="static/images/burger.png" alt="A plate of hamburger with fries">
                <span class="card-title card-panel green lighten-3 z-depth-5">Juicy Vegan Burger</span>
            </div>
            <div class="card-content">
                <p>These veggie burgers are packed with vegetables! See how to make homemade
                    veggie burgers that are hearty, flavorful and full of vegetables.<br>Your new favorite Burger Recipe!
                </p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('get_recipe')}}" class="waves-effect waves-light btn-small black">See All of Our Recipes</a>
            </div>
        </div>
    </div>
    <!-- Popular recipes example 2 -->
    <div class="col s12 m12 l12 xl4">
        <div class="card hoverable popular-card">
            <div class="card-image">
                <img class="responsive-img" src="static/images/pizza.png" alt="Someone is pouring syrup on pancakes">
                <span class="card-title card-panel green lighten-3 z-depth-5">Caprece Pizza</span>
            </div>
            <div class="card-content">
                <p>This vegan caprese pizza is a dream come true.<br>Crisp and bubbly pizza crust is topped with zesty garlic,
                    homemade cashew mozzarella and lots of fresh basil.
                </p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('get_recipe')}}" class="waves-effect waves-light btn-small black">See All of Our Recipes</a>
            </div>
        </div>
    </div>
    <!-- Popular recipes example 3 -->
    <div class="col s12 m12 l12 xl4">
        <div class="card hoverable popular-card">
            <div class="card-image">
                <img class="responsive-img" src="static/images/taco.jpg" alt="Three tacos on a plate with salsa, nachos and a drink">
                <span class="card-title card-panel green lighten-3 z-depth-5">Tacos</span>
            </div>
            <div class="card-content">
                <p>Vegan tacos, made with corn or flour tortillas, black beans, corn, avocado, and vegan sour cream,
                    among other simple ingredients.<br>Super healthy and filling.
                </p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('get_recipe')}}" class="waves-effect waves-light btn-small black">See All of Our Recipes</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}