{% extends "base.html" %}
{% block content %}

  <h3 class="black-text center-align">Lazy Vegan Fast Food Recipes</h3>
  <!-- home page image -->
<div class="background-img">
  <img src="static/images/girl.jpg" alt="">
</div>
  <p>There is no need to spend unnecessary time and money taking your family
     out to dinner when you can make restaurant quality dinners right in your own kitchen.
     These fast food recipes are extremely simple to make and taste great.
     No one in your family will complain about what they will be eating for dinner when
     you serve up these incredible dishes. From juicy and succulent burgers to warm and salty French fries,
     we have everything you need for the perfect restaurant-style dinner at home. Enjoy!</p>

     <h3 class="black-text center-align">Popular Mouth-Watering Recipes</h3>

<!-- how 
  <p>by: {{ recipe.created_by }}</p> 
-->

<!-- recipe card pancake -->
<div class="row">
    <div class="col s4 m4">
      <div class="card hoverable">
        <div class="card-image">
          <img src="static/images/pancake.jpg">
          <span class="card-title card-panel green accent-4">Vegan Pancakes</span>
        </div>
        <div class="card-content">
          <p>These quick and easy pancakes require just 6 ingredients. 
             Perfect for a lazy weekend morning! Melt-in-your-mouth, easy, light and fluffy 
             vegan pancakes.</p>
        </div>
        <div class="card-action">
          <a href="#" class="waves-effect waves-light btn-small black"></i>Recipe</a>
        </div>
      </div>
    </div>
  

  <!-- recipe card burger-->
 <div class="col s4 m4">
    <div class="card hoverable">
      <div class="card-image">
        <img src="static/images/burger.png">
        <span class="card-title card-panel green accent-4">Juicy Vegan Burger</span>
      </div>
      <div class="card-content">
        <p>These veggie burgers are packed with vegetables! See how to make homemade
           veggie burgers that are hearty, flavorful and full of vegetables.</p>
      </div>
      <div class="card-action">
        <a href="#" class="waves-effect waves-light btn-small black"></i>Recipe</a>
      </div>
    </div>
  </div>


<!-- recipe card tacos-->
  <div class="col s4 m4">
    <div class="card hoverable">
      <div class="card-image">
        <img src="static/images/taco.jpg">
        <span class="card-title card-panel green accent-4">Tacos</span>
      </div>
      <div class="card-content">
        <p>Vegan tacos, made with corn or flour tortillas, black beans, corn, avocado, and vegan sour cream,
           among other simple ingredients. Super healthy and filling.</p>
      </div>
      <div class="card-action">
        <a href="#" class="waves-effect waves-light btn-small black"></i>Recipe</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}