{% extends "base.html" %}
{% block content %}

    {% for recipe in recipe %}
        {{ recipe.category_name }}<br>
        {{ recipe.recipe_name }}<br>
        {{ recipe.recipe_ingredients }}<br>
        {{ recipe.recipe_directions }}<br>
    {% endfor %}

<!-- recipe card -->
<div class="row">
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="static/images/pancake.jpg">
          <span class="card-title">Vegan Pancakes</span>
        </div>
        <div class="card-content">
          <p>These quick and easy vegan pancakes are oil-free and require just 6 ingredients. 
             Perfect for a lazy weekend morning!</p>
        </div>
        <div class="card-action">
          <a href="#">Recipe</a>
        </div>
      </div>
    </div>
  

  <!-- recipe card -->

  <div class="col s4 m4">
    <div class="card">
      <div class="card-image">
        <img src="static/images/burger.jpg">
        <span class="card-title">Juicy Vegan Burger</span>
      </div>
      <div class="card-content">
        <p>Breakfast
          Vegan Pancakes
        </p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>


<!-- recipe card -->

  <div class="col s4 m4">
    <div class="card">
      <div class="card-image">
        <img src="pancake.jpg">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>Breakfast
          Vegan Pancakes
        </p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}