{% extends "base.html" %}
{% block content %}
<!-- Shop header -->
<h1 class="black-text center-align thin">cook like a pro</h1>
<p class="center-align shop-text">Eco Kitchen Products For Eco Friendly Living.
    Discover our range of eco kitchen products that are made with natural, organic, vegan, plastic-free, biodegradable & ethical materials & ingredients.
</p>
<div class="row">
    <!-- Shop item 1-->
    <div class="col s12 m6 l6 xl4">
        <div class="card hoverable shop-card">
            <div class="card-image">
                <img class="responsive-img" src="static/images/zip_bag.jpg" alt="Image of a silicone ziplock pouch">
            </div>
            <div class="card-content">
                <h6>Silicone Ziplock Pouch</h6>
                <br><br>
                <p>If you use zip lock bags then you will love this
                    silicone reusable pouch, an ideal alternative to plastic ziplock bags.<br><br>Choose between many different sizes and shapes. Heat and freezer safe. 
                </p>
            </div>
            <div class="card-action">
                <a href="https://www.peacewiththewild.co.uk/product/silicone-ziplock-pouch-1000ml/" target="_blank" class="shop-btn waves-effect waves-light btn-small black">Buy Now</a>
            </div>
        </div>
    </div>
    <!-- Shop item 2-->
    <div class="col s12 m6 l6 xl4">
        <div class="card hoverable shop-card">
            <div class="card-image">
                <img class="responsive-img" src="static/images/bambu.jpeg" alt="Image of a bamboo cutlery set">
            </div>
            <div class="card-content">
                <h6>Bamboo Cutlery Set</h6>
                <br><br>
                <p>Handy bamboo travel utensil set by Bambu, perfect for an on-the-go lifestyle.
                    Each item is made from a single piece of organic bamboo with a natural finish.<br><br>USDA Certified Organic bamboo and Ethically & sustainably.
                </p>
            </div>
            <div class="card-action">
                <a href="https://www.peacewiththewild.co.uk/product/bambu-bamboo-travel-utensils/" target="_blank" class=" shop-btn waves-effect waves-light btn-small black">Buy Now</a>
            </div>
        </div>
    </div>
    <!-- Shop item 3 -->
    <div class="col s12 m6 l6 xl4">
        <div class="card hoverable shop-card">
            <div class="card-image">
                <img class="responsive-img" src="static/images/bowl_cover.jpeg" alt="Image of a cotton bowl cover">
            </div>
            <div class="card-content">
                <h6>Cotton Bowl Cover</h6>
                <p><br><br>These reusable and washable cotton bowl covers fit nicely on
                    mixing and serving bowls. The elasticated cotton once stretched over
                    the bowl will leave it tightly covered, leaving no gaps.<br><br>GOTS certified organic cotton.
                </p>
            </div>
            <div class="card-action">
                <a href="https://www.peacewiththewild.co.uk/product/your-green-kitchen-medium-cotton-bowl-cover/" target="_blank" class="shop-btn waves-effect waves-light btn-small black">Buy Now</a>
            </div>
        </div>
    </div>
    <!-- Shop item 4 -->
    <div class="col s12 m6 l6 xl4">
        <div class="card hoverable shop-card">
            <div class="card-image">
                <img class="responsive-img" src="static/images/tongs.jpeg" alt="Image of large bamboo tongs">
            </div>
            <div class="card-content">
                <h6>Large Bamboo Tongs</h6>
                <p><br><br>Large bamboo tongs, a plastic-free, sustainable
                    and safe alternative to plastic utensils! Made from organic, natural bamboo. Vegan and 100% Plastic free.
                </p>
            </div>
            <div class="card-action">
                <a href="https://www.peacewiththewild.co.uk/product/bambu-large-bamboo-tongs/" target="_blank" class="shop-btn waves-effect waves-light btn-small black">Buy Now</a>
            </div>
        </div>
    </div>
    <!-- Shop item 5 -->
    <div class="col s12 m6 l6 xl4">
        <div class="card hoverable shop-card">
            <div class="card-image">
                <img class="responsive-img" src="static/images/oil.jpeg" alt="Image of a large bottle of coconut oil">
            </div>
            <div class="card-content">
                <h6>Premium 100% Pure Coconut Oil</h6>
                <p><br><br>Coconuts are a rich source of Medium Chain
                    Triglycerides (MCTs), healthy fats which provide many health and fitness benefits. Keto, Paleo, LCHF friendly.
                </p>
            </div>
            <div class="card-action">
                <a href="https://www.peacewiththewild.co.uk/product/hunter-gather-premium-100-pure-mct-coconut-oil/" target="_blank" class="shop-btn waves-effect waves-light btn-small black">Buy Now</a>
            </div>
        </div>
    </div>
    <!-- Shop item 6 -->
    <div class="col s12 m6 l6 xl4">
        <div class="card hoverable shop-card">
            <div class="card-image">
                <img class="responsive-img" src="static/images/salt.jpeg" alt="Image of a can of sea salt flakes">
            </div>
            <div class="card-content">
                <h6>Natural Dorset Sea Salt Flakes</h6>
                <p><br><br>Hand-harvested from the pristine mineral rich,
                    and world-famous waters of the Jurassic coast.<br>To be used within or to finish the cooking process.<br>Healthier alternative to table salt.
                </p>
            </div>
            <div class="card-action">
                <a href="https://www.peacewiththewild.co.uk/product/dorset-sea-salt-co-natural-dorset-sea-salt-flakes/" target="_blank" class="shop-btn waves-effect waves-light btn-small black">Buy Now</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}