{% extends "base.html" %}
{% block content %}

  <div><h1 class="black-text center-align">Cook & Look Like a Pro!</h1></div>

  <!-- card 1-->
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator responsive-img" src="static/images/taco.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Owen<i class="material-icons right">massa text jjeqijfewoijfewoifjiweofjoiewfhowiehf</i></span>
                <p><a href="#">Buy here!</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
</div>

  {% endblock %}